@model IEnumerable<CDUDB1INF272.Models.DestinationModel>

@{
    ViewBag.Title = "Index";
}
<h1 class="display-4">Index</h1>
<h3>@ViewBag.Message</h3>



<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Authour
        </th>
        <th>hu</th>
    </tr>

@foreach (var dest in Model) {
    <tr>
        <td>
            @dest.Name
        </td>
        <td>
            hj
        </td>
        <td>
            bgzdvb
          
        </td>
    </tr>
}

</table>
