@model IEnumerable<CDUDB1INF272.Models.DestinationModel> 

@{
    ViewBag.Title = "Update Tourist Attraction";
}


<table class="table" id="t1">
    <tr>
        <th>#</th>
        <th>Name</th>
     
    </tr>

    @foreach (var dest in Model)
    {
        <tr>
            <td>@dest.ID</td>
            <td>@dest.Name</td>
           
        </tr>
    }

</table>